//- Contains the project data that can be used across pages.

    Including this file will result in a variable created called
    `projectData` which is an object of project data objects. If it
    included in a page extending a layout, this file should be included
    within a block.

-
    var projectData = {
        eira: {
            name: "Cardiff Landmarks",
            short: "ei",
            strapline: "cardiff landmarks map + rss",
            synopsis:
                "A quick web project to learn Google Maps API and sharpen up my " +
                "web development skills.",
            tags: ["web", "online demo", "learning"],
            imageCount: 3,
            features: {
                "Google Maps":
                    "Using the highly popular google maps library allowed me to use " +
                    "a familiar mapping interface to present the database data in a " +
                    "visual format. Setting up a live google cloud developer account" +
                    "to access google APIs may prove useful for future projects.",
                "Database":
                    "A conventional PHP + MySQL combination proved to be enough for my " +
                    "needs for this project. Despite not needing dynamic updates, the site " +
                    "fetches the data from a database. If I were designing this site for " +
                    "real I would just compile the data at build time instead to save " +
                    "resources but I wanted to refresh my skills for future projects."
            },
            links: {
                demo: "http://eira.mooo.com",
                source: "https://github.com/herobank110/eira"
                }
            },

        fabrik: {
            name: "Fabrik",
            short: "fr",
            strapline: "Android app for FABRIK",
            synopsis:
                "I prototyped a joint simulator using Python and Factorygame, then " +
                "transformed it into an Android app using Java and Android Studio. " +
                "With a SQLite database, users were able to save and load joint chains " +
                "for easy access.",
            tags: ["Java", "Android", "Mobile", "Physics", "Simulation"],
            imageCount: 4,
            features: {
                "Mobile target":
                    "Android phones are used by many people. As Google Play Store is " +
                    "the primary way to install apps on Android, it was the ideal platform " +
                    "to release my app to a wide audience.",
                "Simulation":
                    "I decided to use the Forward and Backward Reaching Inverse " +
                    "Kinematics method because it is very efficient and takes the " +
                    "past positions into account for highly natural movement.",
                "Testing":
                    "The accuracy of the joint simulation was crucial. That's why " +
                    "I wrote an extensive test suite using the popular library, JUnit. " +
                    "This guided me to understand the quirks of Java compared to the " +
                    "programming languages I typically use."
                },
            links: {
                demo: "https://play.google.com/store/apps/details?id=uk.co.davidkanekanian.fabrik",
                source: "https://github.com/herobank110/fabrik"
                }
            },

        neatTreats: {
            name: "Neat Treats",
            short: "nt",
            strapline: "Online cake order system for a Cardiff based cake bakery",
            synopsis:
                "I put together the frontend interface using HTML, CSS and " +
                "Javascript and created a reliable backend service in PHP. " +
                "The result was a stunning modern website with loads of " +
                "functionality, including a shopping cart, user registration " +
                "and automated branch inventory management.",
            tags: ["Web", "PHP", "MySQL", "Bakery", "HTML"],
            imageCount: 10,
            features: {
                "Cake browsing":
                    "A selection of cakes with images is shown. Customers can " +
                    "sort and search using different criteria to quickly find the " +
                    "right one, add it to their cart and checkout.",

                "Real time order updates":
                    "Customer orders are recorded digitally and synchronized with " +
                    "the bakers' active orders page. When a baker changes the " +
                    "order status, the customer sees the change in their orders " +
                    "straight away.",

                "Stock tracking":
                    "During the week, the ingredients in stock are accurately " +
                    "tracked in the database. The stock level is updated when a " +
                    "baker finishes an order or a manager inputs expired " +
                    "ingredients.",

                "Online cart":
                    "Customers can place cakes in a virtual cart before payment " +
                    "and view, edit quantity or remove items from it. A link to " +
                    "the checkout page lets them review their order before " +
                    "purchasing it."
                },
            links: {
                source: "https://gitlab.com/herobank110/neat-treats"
                }
            },

        factorygame: {
            name: "Factorygame",
            short: "fg",
            strapline: "Python game engine to have a 2d movable \"graph\"",
            synopsis:
                "I designed my own game engine framework as I found the basic " +
                "functionality of Tkinter too limiting to quickly build " +
                "prototypes for game jams. It is inspired by Unreal Engine 4, " +
                "which I have used for five years. Factorygame is open source " +
                "and forms the framework of several of my game jams entries.",
            tags: ["game engine", "python", "tkinter", "bakery", "html"],
            imageCount: 4,
            features: {
                "Movable graph":
                    "By having a concept of world coordinates that get translated into screen " +
                    "pixels, the game programmer can choose which parts of the graph are in view. " +
                    "This eliminates the need to track specific screen resolutions, as many factors " +
                    "such as screen size and ratio are considered when the screen positions are " +
                    "calculated.",

                "Tkinter compatible":
                    "The 2D shape drawing functions are extended from the cross platform GUI library, " +
                    "Tkinter. Any other Tkinter-compatible libraries can be reused with Factorygame " +
                    "to provide a wide range of additional features, and GUI menus and overlays can be " +
                    "simply made in Tkinter without any hassle. Plus, your games can run on any platform " +
                    "that Tkinter can.",

                "Flexibility":
                    "The use of the Python scripting language throughout makes this engine highly " +
                    "flexible. It has an open source policy to support understanding and extending " +
                    "any part of the engine with ease. By letting users choose their workflow, it " +
                    "empowers them to use their existing techniques to speed up build times.",

                "Input events":
                    "Key mappings can be set that allow games to take advantage of multiple keyboard and " +
                    "mouse keys to drive gameplay events. The event system is highly customisable and " +
                    "easy to use, requiring only one line of code to create an input mapping. This means " +
                    "game programmers can spend less time searching for specific key names and focus " +
                    "on making their game."
                },
            links: {
                source: "https://gitlab.com/factorygame/factorygame"
                }
            },

        portfolioWebsite: {
            name: "Portfolio Website",
            short: "pw",
            strapline: "Responsive modern website to show off my projects",
            synopsis:
                "I used various frontend frameworks to quickly put together a " +
                "website from scratch that scales well from desktop to mobile. " +
                "Set up to automatically build and deploy to the cloud using a " +
                "CI/CD system with Node.js.",
            tags: ["website", "responsive", "node.js", "ci/cd", "portfolio"],
            imageCount: 1,
            features: {
                "Continuous Integration":
                    "Whenever changes are pushed to my website, a build procedure " +
                    "is run using cloud technology to render the PUG files into HTML " +
                    "so that browsers can view them. Bugs can be identified early " +
                    "and fixed, preventing faulty website code being deployed.",

                "Responsive layout":
                    "Using the industry standard Bootstrap framework, the layout of my " +
                    "website changes dynamically to ensure the best user experience is " +
                    "maintained regardless of the screen size. Desktop, tablet and mobile " +
                    "web browsers are supported using scaling text and menu layouts."
                },
            links: {
                    demo: "https://davidkanekanian.co.uk",
                    source: "https://gitlab.com/dkanekanian/dkanekanian.gitlab.io"
                }
            },

        mazeOfDoom: {
            name: "Maze of Doom",
            short: "md",
            strapline: "A game in the style of Nokia 3310",
            synopsis:
                "This game emulates the exciting feeling of retro Nokia smartphones. " +
                "Building a game with these extreme limitations to be authentic " +
                "was challenging but enjoyable. I used a Javascript game engine " +
                "called Three.js because of its excellent features and both desktop " +
                "and mobile web support.",
            tags: ["game jam", "javascript", "three.js", "shader", "mobile"],
            imageCount: 1,
            features: {
                "Cross platform":
                    "The game is playable on both desktop and mobile web browsers, " +
                    "with touch support for mobile devices.",

                "Depth dithering":
                    "To help players navigate the maze, I added a depth perception " +
                    "component that allowed the world to convey spatial information " +
                    "while still rendering to only two colors. This shader effect was " +
                    "fine tuned so that distant maze walls were hidden while near objects " +
                    "such as people could be seen."
                },
            links: {
                projectSite: "https://dave22153.itch.io/maze-of-doom",
                demo: "https://fruity-games.gitlab.io/nokia-3310-2/",
                source: "https://gitlab.com/fruity-games/nokia-3310-2"
                }
            },

        garbageTruckSimulator2019: {
            name: "Garbage Truck Simulator 2019",
            short: "gts",
            strapline: "Driving a truck to make deliveries around the city",
            synopsis:
                "The player has to drive their truck to the factory to collect a " +
                "payload, then drive to the destination to offload it. While being " +
                "a simple formula, the gameplay is highly enjoyable and received " +
                "positive feedback. It was built using my own game engine in just " +
                "48 hours on the theme of 'giving.'",
            tags: ["game jam", "python", "factorygame", "truck driving", "desktop"],
            imageCount: 1,
            features: {
                "Camera views":
                    "The game shows users a top down view for driving around the large map, " +
                    "and a side view that shows their truck close up when making deliveries. " +
                    "Although it required additional developmental consideration, it made the " +
                    "game feel much more dynamic and immersive.",

                "Driving physics":
                    "The vehicle physics was written from the ground up so that vehicles " +
                    "could accelerate, brake and turn in a predictable way. This system was " +
                    "built to be extendable, and was used with minor modification for both top " +
                    "down view and side view modes of the game.",
                },
            links: {
                projectSite: "https://dave22153.itch.io/garbage-truck-simulator-2019",
                source: "https://gitlab.com/factorygame/futuregame/truck-game/truck-game"
                }
            },

        zombieTower: {
            name: "Zombie Tower",
            short: "zt",
            strapline: "Python game with spooky zombie chase",
            synopsis:
                "Move forward on dangerous platforms while being chased by scary " +
                "zombies! The game is minimalist, with only two button controls, " +
                "yet has an advanced depth effect that makes moving up the tower " +
                "very exciting. This was built using my own game engine in 2 weeks. " +
                "See if you can outrun the zombie horde!",
            tags: ["game jam", "python", "factorygame", "zombies", "desktop"],
            imageCount: 1,
            features: {
                "Tower curvature":
                    "The tower is rendered using a wireframe mesh that results in " +
                    "the curvature of the circular tower being noticed. This was " +
                    "also applied to the floors of the tower and the zombies so that " +
                    "the end result was highly believable.",
                },
            links: {
                projectSite: "https://dave22153.itch.io/spookygame",
                source: "https://gitlab.com/factorygame/spooky-game-1/spookygame"
                }
            },

        cyberpunkShooter: {
            name: "Cyberpunk Shooter",
            short: "cps",
            strapline: "A 2d geometric hacking minigame to take down the mega corporations of cyberpunk city",
            synopsis:
                "An inventive new night theme for the graph drawing of Factorygame. " +
                "Players must use precision timing and aiming to tackle the geometric " +
                "shapes they are faced with in the futuristic neon lit world. Created " +
                "using my game engine, Factorygame, in three days.",
            tags: ["game jam", "python", "factorygame", "cyberpunk", "desktop"],
            imageCount: 1,
            features: {
                "Dark theme":
                    "I transformed the mood of the game by changing the theme of the " +
                    "graph background from a light theme to a dark theme. I also made " +
                    "the grid light blue so that it stood out as a neon color which is " +
                    "also characteristic of the theme, cyberpunk.",
                },
            links: {
                projectSite: "https://dave22153.itch.io/cyberpunk-shooter",
                source: "https://gitlab.com/factorygame/futuregame/cyberpunkshooter"
                }
            },

        minesimulator: {
            name: "Minesimulator",
            short: "ms",
            strapline: "A hardcore minecraft simulation game",
            synopsis:
                "This game provides an innovative speed-oriented approach to the hugely " +
                "popular game, Minecraft, by condensing the most important decisions " +
                "into a streamlined interface. It also provides a state-of-the-art " +
                "simulation to experiment on many variables to find the most effective " +
                "way to play.",
            tags: ["game jam", "python", "interface", "minecraft", "automatic"],
            imageCount: 1,
            features: {
                "Automation":
                    "In Minesimulator, players are able to quickly change variables in the " +
                    "graphical user interface and run simulations behind the scenes. This " +
                    "helps users appreciate what each statistic does and is fun to " +
                    "play around with.",

                "Widgets":
                    "Many widgets are my own extensions of the standard Tkinter widgets, " +
                    "including a NumEdit and LocEdit widgets. This enables users to " +
                    "intuitively change the value of numeric fields by dragging on a label.",

                "Dynamic menu creation":
                    "Despite having a complex nested menu, it is all generated dynamically " +
                    "without any direct code. I developed a system to analyse Python code " +
                    "and determine which menus should be created, and also provide the values " +
                    "back to the program while they are being editing."
                },
            links: {
                projectSite: "https://dave22153.itch.io/minesimulator",
                source: "https://dave22153.itch.io/minesimulator/download/eyJleHBpcmVzIjoxNTg3MTIwNDcyLCJpZCI6NDY0NTgxfQ%3d%3d.ByKMkXKcFirEMPsMpiEv5F4aqkM%3d"
                }
            },

        pieGame: {
            name: "Pie Game",
            short: "pg",
            strapline: "Baking game for making fruit pies",
            synopsis:
                "In this game you will bake delicious pies for hungry tourists, by " +
                "being immersed in the multi-stage cooking process. This game " +
                "encourages you to cook using your instincts, rather than following " +
                "a recipe. I made this game using Unity because of its support for " +
                "web builds to also allow mobile phones.",
            tags: ["game jam", "unity", "c#", "baking", "mobile"],
            imageCount: 1,
            features: {
                "Cross platform":
                    "The game uses Unity's webGL build tool to let users play the game from " +
                    "their web browser. This could be desktop, mobile or tablet.",

                "Cool music":
                    "The music was open source licensed music that created a relaxed mood."
                },
            links: {
                projectSite: "https://dave22153.itch.io/piegame",
                demo: "https://fruity-games.gitlab.io/piegame/",
                source: "https://gitlab.com/fruity-games/piegame/",
                docs: "https://fruity-games.gitlab.io/piegame-docs/"
                }
            },

        highwayRun: {
            name: "Highway Run",
            short: "hwr",
            strapline: "A retro style built from the ground up for modern audiences",
            synopsis:
                "The Nokia game jam challenged us to create a game with a very small " +
                "48 pixel tall screen. We needed a reliable game engine that would support " +
                "this, so we decided on Unreal Engine 4. Several systems had to be " +
                "developed to guarantee the sounds and graphics were to be authentic",
            tags: ["game jam", "unreal engine 4", "ue4", "nokia", "shader"],
            imageCount: 1,
            features: {
                "Menu system":
                    "A menu system was designed from the ground that would be scalable to " +
                    "the very limited screen resolution of the Nokia 3310 smartphone. This " +
                    "also supported features such as button driven navigation and text smoothing.",

                "Motion trails":
                    "A lot of work was put into creating a graphical system that would simulate " +
                    "the motion trails of the old LCD displays on Nokia smartphones and calculators. " +
                    "This was achieved through blending several render targets with finely tuned thresholds."
                },
            links: {
                projectSite: "https://dave22153.itch.io/highway-run"
                }
            }
        };
