extends _project_layout.pug

append variables
    - var pageTitle = "Factorygame";
    include _project_data.pug
    +setProject(projectData.factorygame)

block detailParagraphs
    //- Inspiration
    p.
        After using Unreal Engine 4 to create games, I realised that it was very time
        consuming to set up a project for game jams (events to make games quickly) because
        I would end up not using most of the features in the engine. By creating games
        without an engine, I was repeating lots of basic functionality, so I created a
        framework to automate this. As I continued making games with this framework,
        I was able to add more features while making the framework simpler to use.

    //- Technology
    p.
        I chose Python to write this game framework because it can speed up development
        time through its use of dynamic types and its interpreted nature. This means
        changes to the game can be immediately tested out, enabling game programmers to
        tweak gameplay without waiting for the code to be compiled. By also writing the
        engine in Python, the engine code is completely transparent to the game programmer
        so that it can be modified if necessary.

    //- Future
    p.
        As I continue to compete in game jams, I will explore what Factorygame can offer
        and how to make it even faster and simpler to write games, without placing any
        limits on creativity. I can also apply my thorough understanding of game engines
        from this project to other work on programming games in any engine.
