extends ../_layout.pug
include ../_mixins.pug

append variables
    - var pageTitle = "Portfolio";
    - var currentNavItem = "Portfolio";
    - var description = "Collection of my programming projects.";
    include _project_data.pug

block main
    .container
        h1.py-4 Portfolio
            small.ml-2 Click a project to learn more
            
        - var isFirst = true;
        for project in projectData
            if isFirst
                - isFirst = false;
            else
                hr
            +projectCard(project)
