extends _project_layout.pug

append variables
    - var pageTitle = "Pie Game";
    include _project_data.pug
    +setProject(projectData.pieGame)

block detailParagraphs
    //-
        //- Inspiration
        p.

        //- Technology
        p.

        //- Future
        p.
