doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Privacy Policy
  body
    h1 Privacy Policy for 8 Ball - Magical Predictions
    p Last updated: March 17, 2024

    h2 Introduction
    p The app, 8 Ball - Magical Predictions, is developed and published by David Kanekanian. Your privacy is important to us. This Privacy Policy outlines our commitment to protecting the privacy of individuals who use our application. We do not collect, store, or share any personal data, ensuring your use of "8 Ball - Magical Predictions" remains private and secure.


    h2 Data Collection and Use
    p We do not collect, use, store, or share any personal information from our users.

    h2 Contact Information
    p If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at dkanekanian1@gmail.com.

    h2 Changes to This Privacy Policy
    p We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. These changes are effective immediately after they are posted on this page.
