//- This file contains mixins which are like functions. They can be
    called like so: `+mixinName(arg1, arg2, ...)`.
    This file must be included first like so: `include _mixins.pug`.


//- Creates a card with media and text for a brief summary of a project.

    @param options Must be a javascript object, with the following
    parameters:
        name: "Project Name",
        short: "pn",
        strapline: "Awesome project for helping you do something",
        synopsis: "Long description",
        tags: ["game", "unreal engine", "game jam"]
mixin projectCard(options)
    //- Use lower snake case so the path doesn't contain spaces.
    - var projectTitleToPageName = function(pageName) { while (pageName.search(" ") != -1) pageName = pageName.replace(" ", "_"); return pageName.toLowerCase(); };
    - var projectPageName = projectTitleToPageName(options.name)
    //- Link to the project page on my personal site of the project.
    - var projectLink = `${urlRoot}portfolio/${projectPageName}.html`;
    .row
        .col-md-7
            //- External link will be replaced by internal project gallery page.
                For now, will just link to the external page.
            a(href=projectLink)
                img.img-fluid.rounded.mb-3.mb-md-0(
                    src=`${urlRes}${projectPageName}/t_${options.short}_cardmedia.png` alt=name)
        .col-md-5
            h3= options.name
            h6= options.strapline
            p.mb-1= options.synopsis
            .project-tags.d-flex.flex-row.flex-wrap.mb-2
                em Tags:
                - var isFirst = true;
                for tag in options.tags
                    span #{ isFirst ? "" : "," }&nbsp;
                    - isFirst = false;
                    code.project-tag.p-1.rounded= tag
            //- Should link to internal project page
                TODO: add icon button for external link to repository
            a.btn.btn-primary(href=projectLink) View Project

//- Creates a gallery and description to go in the main block of a
    project profile.

    @param carouselId (string) HTML id to use for the carousel.
    @param imageSources (array) Links to images to use, in order.
mixin carousel(carouselId, imageSources)
    .carousel.slide(id=carouselId data-ride="carousel")
        .carousel-inner
            - var isFirst = true;
            for imageSource in imageSources
                .carousel-item(class=(isFirst ? "active" : ""))
                    a(href=imageSource)
                        .carousel-image(style="background-image:url('"+imageSource+"');")
                - isFirst = false;
        a.carousel-control-prev(href="#"+carouselId role="button" data-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.sr-only Previous
        a.carousel-control-next(href="#"+carouselId role="button" data-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.sr-only Next

//- Bulleted list of content where each item has a short title.

    Eg,
    ```
    * Feature 1 - description
    * Feature 2 - description
    ```

    @param content (object) The 'list' to show where each key value
    pair is an item. The keys are the titles and the values are the
    content.
mixin titledList(content)
    ul.titledlist
    for val, key in content
        li.my-3.titledlist-title #[strong= key]
            //- appears like dash with spaces before and after: " - "
            span.titledlist-spacer &nbsp;-&nbsp;
            span.titledlist-content= val
