//- Navigation bar
nav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
        a.navbar-brand(href=urlRoot)
            img(src=urlRes+"logo.png" alt="DK" width="50" height="50")
        #navbarResponsive: ul.navbar-nav.ml-auto
            //- The navbar item corresponding to the currentNavItem
                variable will be the 'active' one.
            for item in ["About", "Portfolio", "Blog"]
                li.nav-item(class=(item == currentNavItem && "active"))
                    a.nav-link(href=`${urlRoot}${item.toLowerCase()}.html`) #{item}
                        if item == currentNavItem
                            span.sr-only (current)
