//- Contains a horizontal row of social media links.
    To use the icons, you must include 
    script(src="https://kit.fontawesome.com/25320ed3fc.js" crossorigin="anonymous")
    in the head.

.d-flex.flex-row.flex-wrap.justify-content-center
    a.social-link.social-link-github(href="https://github.com/herobank110" title="Github")
      i.fab.fa-github.fa-2x.mx-1
      span.sr-only Github
    a.social-link.social-link-gitlab(href="https://gitlab.com/herobank110" title="Gitlab")
      .fab.fa-gitlab.fa-2x.mx-1
      span.sr-only Gitlab
    a.social-link.social-link-itch-io(href="https://dave22153.itch.io/" title="Itch.io")
      i.fab.fa-itch-io.fa-2x.mx-1
      span.sr-only Itch.io
    a.social-link.social-link-linkedin(href="https://www.linkedin.com/in/david-kanekanian/" title="LinkedIn")
      i.fab.fa-linkedin.fa-2x.mx-1
      span.sr-only LinkedIn
    a.social-link.social-link-dev(href="https://dev.to/herobank110" title="Dev.to")
      i.fab.fa-dev.fa-2x.mx-1
      span.sr-only Dev.to
