extends _layout.pug

append variables
    - var pageTitle = "About";
    - var description = "More details about David Kanekanian";
    - var currentNavItem = "About";
    - var blogUrl = "https://dev.to/herobank110/introduction-php-development-tutorial-4m0l";

block main
    .container
        h1.py-4 About Me
        p.
            David Kanekanian is a game programmer who for the past five years
            has completed various projects using Python, C++, Unreal Engine 4,
            Typescript, NodeJS, C# and Unity and has collaborated with local and
            remote teams alongside programmers, designers, writers, artists and
            musicians.
        p.
            To date, David has created an open source 2D game engine and graph
            visualisation tool, designed, built and tested an iPad app for the
            world's largest interactive dome and was partly or wholly involved
            in successfully submitted entries to twenty-six game jams.

        p.
            He is currently working as an Unreal software developer in the
            virtual production department at Scanline VFX, a VFX  company. The
            data world involved is growing at a rapid pace and their investments
            and R&D have led to emerging as a key player in the virtual
            production industry, where David is proud to contribute.
            
        //- His programming services are currently available as freelance work.

        h3.pt-4 Contact Me
        p The easiest way to get in touch with me is by email.
        p.ml-2 #[strong Email: ]
            a(href="mailto:dkanekanian1@gmail.com") dkanekanian1@gmail.com
