extends ../../../_blog_template.pug

append variables
  - pageTitle = "Hydra";
  - date = "2022-09-22";

block blogCopy
  p.
    The Day Of The Hydra had begun with a delicate celebration. A young
    woman ran about to try to organize things, carrying a frying pan,
    confetti cannons, posters, candles and a handbag full of stuff she
    needed to get to other people. Her Hydra broche became loosened,
    and slipped off. It was her only way to sign in to the staff
    entrance so she had to find it, but first she had to realize it was
    lost.

  p.
    As she got around town and delivered a few items, she found the
    best route to be the rooftops, and jumping between buildings like
    an action movie, as they weren't very crowded except for the
    occasional rooftop party. She would stop for a sip of water and a
    polite chat when she did rudely interrupt a party, which was
    accumulating several kilograms of guilt to her burden to carry. All
    she could really think about was keeping the things balanced in a
    stack, and performing a count after each jump to check everything
    was there. It is really not her duty anyway. It just started with
    the candles for her friend J but then as E saw her carrying things,
    he gave her a mission too, and she, convinced it was more or less
    on her way, agreed.

  p.
    It didn't finish until the Day was about to open, but luckily it
    was just in time that she reached the billboard to hand over the
    extra posters to C for stick up. The motions were relatively quick
    by this point, in recognizing when the recipient was paying
    attention to where she would lay the item down, and holding the
    angle of her hips precisely neither towards nor away to facilitate
    but not encourage small talk, before decisively twisting away and
    relying on hearing to detect nearby dynamic obstructions to dance
    around to the exit. Maybe there was something entertaining in the
    routine.

  p.
    Two more steps and she stood before the staff entrance. A security
    guard with a black baton and sunglasses looked around, above,
    underneath, beside, inside and outside her in an instant, then let
    his gaze track a butterfly about to approach a rose. Her words were
    futile against the guard, who visibly ignored her like a soldier in
    in a war, prepared to protect the inside work with his life.

  p.
    The Day was announced on the loudspeakers as she sat on a bench in
    the park, alone, prepared to start weeping. She reached into her
    bag for a tissue and pulled out a mirror to see what the face of a
    person looked after failing an honest mission due to what could
    only seem to her some kind of personal injustice or ridicule. Who
    did this guard think he was to make her feel this way? She touched
    the base of her neck, just to be sure she was living and not in a
    nightmare, when she noticing the lack of the cheap plastic broche.
    The next miserable seconds were, one might have thought, the peak
    of her sadness that day, certainly considering that a single tear
    slowly crawled down her cheek with a disturbing tickle she felt too
    immobilized to wipe away. But the next moment she descended into a
    slightly deeper darkness, as she was approached by a security guard
    and escorted off the park for the disturbance of emotion in the
    Day.
