extends ../../../_blog_template.pug

append variables
  - pageTitle = "The Revenge Of King Eeee";
  - date = "2022-03-03";

block blogCopy
  p.
    I think it is best to describe my blog in a story so I have come up
    with the story below.

  p.
    King Eeee was known as a mysterious ruler who only gave decrees
    through a thick veil made of gold. No one had seen his face.
    Therefore, one boy decided to uncover the mystery and snuck into the
    castle at night. The king was asleep inside still wearing the veil.
    The boy climbed the wall and entered through the window of the
    king's bedchambers. Carefully he tugged at the veil until it came
    off and revealed a hideous face old as a tree and rotten as a rotten
    apple core. The boy poked his finger into the skin and to his
    surprise the king was still asleep. He struggled to understand and
    quickly left through the window before he could get caught.

  p.
    King Eeee awoke to find his veil missing, and made a decree that all
    houses must be searched for signs of rotten flesh. The servants of
    the king went to each house and when they reached the boy's house
    he had luckily washed his hands and was found clean.

  p.
    The following day King Eeee realized the only way into his castle
    was through the window so he decreed that all citizens must complete
    a climbing exercise, to see which who could have done it. About
    twenty young men and women were able to pass the climbing test, 
    including the boy who had unveiled King Eeee.

  p.
    The day after that King Eeee asked each of the citizens who passed
    the climbing test to pronounce his name. They all passed except the
    boy as he was trembling with fear and instead said, "King Uuuu." He
    was thrown into the dungeon and starved to death.
