extends ../../../_blog_template.pug

append variables
  - pageTitle = "A Night in the Forest";
  - date = "2022-04-17";

block blogCopy
  p.
    Once there was a tree named Frankie. He lived in a lovely part of
    the forest a few miles in towards the center, close to the clear
    river that ran from the north to the south-west. A gentle birdsong
    could be heard above the flow of the river.

  p.
    The sun could barely reach through the tree branches to illuminate
    the bushes below. In a cloudy moment there was almost complete
    darkness in the forest floor. A couple taking a stroll were in
    disbelief. They decided to sit at the exposed root of the tree and
    wait until it got brighter so they could see where they were going
    and not get lost. As everyone in the village was aware, the forest
    was so large that many people had gone missing there before and
    emerged a day later on the other side, at the village on the
    opposite side. The couple had brought no food with them and wanted
    to avoid having to stay in the forest overnight.

  p.
    The couple engaged in light conversation to pass the time. Before
    they knew it, hours had passed and the sun already began to set.
    'This is our only opportunity to navigate the forest today,' they
    agreed and looked up through the tree branches to see if there could
    be enough light to find their way back.

  p.
    Just as they got their bearings and turned to leave, a wolf
    approached them and asked for directions to the village. The couple
    were somewhat unsure about their own directions, but pointed the
    wolf in the opposite direction so that he would devour the people in
    the village on the opposite side of the forest.

  p.
    After some time following the river and crossing over a fallen log,
    the couple reached the edge of the forest and sighed with relief.
    Some lights from the village were visible and guided them home. But
    as they got closer and closer to the village, the distant houses
    seemed to be small scale models constructed hastily from twigs. Once
    they were at the village, they were certain that either the village
    had shrunk or they had turned into giants. As they knelt down to get
    a closer look at their house, the wolf in miniature form growled at
    them, but there was not much he could do at that size and in fear of
    the couple he ran away.

  p.
    By this time it was midnight. Even the tiny glow from the torches
    dotted around the village had gone out and not a drop of light
    existed. The couple sat down to process the events.

  p.
    'Could it have been the wolf who ate us and now we're chopped into
    tiny bits in his stomach?'

  p.
    'Maybe a creature in the forest has secretly enchanted us. I've
    heard stories about strange happenings in the forest at night. We
    shouldn't have stayed out for so long!'
  
  p.
    'But if we were under a spell, there must be a way to undo it.'
  
  p.
    'I suppose there ought to be an antidote or incantation. But how can
    we possibly find it when we are this size? Anyone we talk to will be
    scared to death of us!'
    
  p.
    A pixie flew by and took pity on them. As she was trained in magic
    she thought she might be able to help but being only an apprentice
    currently she didn't quite know what to do, and asked, 'eeerm...
    Hello there...? Do you hear me?'

  p.
    The couple pleaded the pixie to use magic to reverse whatever sort
    of spell had overcome them. The pixie thought for while then set
    about mixing a potion with nearby herbs and flowers. It smelled
    quite pleasant, she thought, so it ought to have some good effect.
    To her surprise when the couple drank no more than two sips each,
    they began to grow long pointy ears and snouts. Their backs arched
    until they couldn't remain upright anymore and used their arms as
    legs. Thick grey hairs which had covered their bare arms were shook
    by the slight breeze. The pixie was frightened of the beastly
    creatures she had made and used a protective spell to turn them into
    little frogs and picked them up, flew to the river in the heart of
    the forest and dumped them from a considerable height.

  p.
    In this way seven years passed before the couple met a friendly toad
    who asked what business they had in the river. They replied, 'we're
    completely lost and afraid. You see, we were once people then turned
    into giants then into some kind of wild beasts and now we are frogs.'

  p.
    The toad thought about this for a few minutes, then finally opened
    his mouth to say, 'how lovely that you went through it together.'
