extends ../../../_blog_template.pug

append variables
  - pageTitle = "Robbery and Pursuit";
  - date = "2022-07-30";

block blogCopy
  p.
    Larvo couldn't quite believe the subtle pitter patter on his bare
    arms. Looking up he saw quite possibly that it was the precursor to
    a large rainstorm. Of all the days to rob a bank! He picked up his
    rifle victoriously and sent a burst of shots to the clouds. He tried
    to keep his jogging gentle so that the cash wouldn't fall out. Why
    had they parked the car so far away?
  
  p.
    Otan declared vile curses on the bank manager as he simultaneously
    gestured his fingers viciously backwards to the broken windows. How
    likely would it be that the citizen that got shot in the face would
    survive? Maybe the pistol was angled too high for it to puncture
    the brain. If he's lucky he'll probably get a facial prosthetic and
    one or two limbs paralyzed. But that manager's face - what a
    moment right there - I wonder what he'd tell his family. What a
    scumbag!

  p.
    Mord greeted them in the Volkswagon briefly before launching into
    high speeds along the fresh roads. Tearing the sweaty black masks
    off they finally got some fresh air. The vaults were so hot and it
    was impossible to keep calm under that blaring alarm. Now the
    annoying police sirens were approaching.

  p.
    'Can't you drive any faster?'

  p.
    The fury in Mord's eyes was uncontainable; brilliant light erupted
    from them and dazed civilian traffic. It was a bumpy ride. The roads
    after them melted into a hot sticky slurry entrapping insects. In
    comical exhaust smoke Mord's sharp left was concealed from the cops
    and lifted only to reveal brown crumpled tree leaves.

  p.
    Back at the safehouse they fairly split the revenue.

  p.
    'Ha, then what? They fought every cop in the city with their fists?'

  p.
    'Yeah, it was just like that. That's why you don't see any cops in
    this city anymore.'

  p.
    Everything comes and goes so quickly and gets replaced in very next
    moment.
