extends ../../../_blog_template.pug

append variables
  - pageTitle = "The Nest of a Group of Beasts";
  - date = "2022-03-15";

block blogCopy
  p.
    In the heart of a forest down a small cave was the nest of a bunch
    of wild beasts. Nobody dared enter that part of the forest for fear
    of being eaten. But accounts differed on the exact methods of the
    beasts so one brave soul decided to find for certain what the beasts
    were truly capable of.

  p.
    He sacrificed a goat and threw it into the nest, expecting vicious
    claws to snatch the meat and drag it inside. After the day turned to
    night and nothing had happened, he returned to the town and told the
    townsfolk of the lack of activity. This got the attention of some
    hunters who offered to join him the following day to uncover the
    truth, since they wished to hunt in the area now occupied by the
    beasts but couldn't in any safe state of mind.

  p.
    The group sacrificed a goat and two hens and scattered them around
    the nest. Again nothing happened and as night fell they headed back
    and told their account to the townsfolk. People were outraged at
    their waste of good livestock but were persuaded that if the myth of
    the beasts could be disproven it would mean more provisions could be
    sourced from the area. There was such an outrage however that a
    prince passing by noticed and offered to come along the following
    day for he was a highly skilled hunter and would surely determine if
    there was any beasts about.
  
  p.
    They headed for the nest once more and sacrificed a goat, two hens
    and three cows and lay in wait. On sunset, a terrifying echo
    emanated from the cave and startled the group. The prince told them
    it was probably just a rabbit but nonetheless to draw their weapons.
    But no sooner than he finished his sentence, in a single swipe of
    its paw and without even a growl betraying its presence, a bear
    mauled them to death from behind the bush they were hiding in.

  p.
    When nobody returned that night, the townsfolk feared the worst and
    did not even send a search party. To this day, no one has dared
    venture into that area of the forest.
