extends ../../../_blog_template.pug

append variables
  - pageTitle = "Guard Tower";
  - date = "2022-05-15";

block blogCopy
  p.
    We've been out here for 3 hours. They're not going to show
  p.
    Be patient. They cannot be far away
  p.
    Pause to check environment
  p.
    Wait a second.. no, it cannot be
  p.
    What? Have they arrived?
  p.
    No, something better
  p.
    A cake wagon?
  p.
    No, a balloon stand
  p.
    Oh ok then
  p.
    But seriously, who's there
  p.
    Why don't you take a look for yourself?
  p.
    Give me that. 
  p.
    Grabs binoculars
  p.
    No flippin way. Is that...
  p.
    Yes, it is
  p.
    But that means we can leave...
  p.
    Yes
  p.
    No need to guard this damn tower anymore?
  p.
    Yes
  p.
    Hang on a second. Why aren't you happy?
  p.
    Don't you see? We're not free. Why do you think I've been sitting here for the past 3 hours?
  p.
    Huh?
  p.
    This is a test. And you failed.
  p.
    Bang
  p.
    He ded
